<html>
    <head>
        <title>Resume</title>
        <style>
            #base {
			background-color: #fff;
			padding: 20px;
			margin: 0 auto;
			width: 1500px;
			border-radius: 10px;
			box-shadow: 30px 20px 40px 20px rgba(0,0,0,0.5);
		}
        </style>
    </head>
    <body style="font-family: fantasy; background-color: mediumslateblue;">
        <p style="font-size: 80px; text-align: center; margin-bottom: 10px;">Rachit Mukherjee</p>
        <div id="base">
            <p style="font-size: xx-large;">Personal Information</p>
            <ul style="font-size: larger;">
                <li>Email : abc@abc.com</li>
                <li>Phone number : 1234567890</li>
                <li>Address : Delhi</li>

            </ul>
            <p style="font-size: xx-large;">Education</p>
            <ul>
                <li>School : Random School Name</li>
                <li>College : Random College Name</li>
            </ul>
            <p style="font-size: xx-large;">Experience</p>
            <ul>
                <li>Experience 1</li>
                <li>Experience 2</li>
                <li>Experience 3</li>
                <li>Experience 4</li>
                <li>Experience 5</li>
            </ul>
            <p style="font-size: xx-large;">Skills</p>
            <ul>
                <li>Skill 1</li>
                <li>Skill 2</li>
                <li>Skill 3</li>
                <li>Skill 4</li>
                <li>Skill 5</li>
            </ul>
        </div>
    </body>
</html>